 <div class="container" >
    <table id="conferenceTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>Location</th>
      <th>Topic</th>
      <th>Deadline</th>
      <th>Add to Follow List</th>
    </tr>
  </thead>
  <tbody>
    {{#each conferences}}
    <tr>
      <td><a href="{{url}}" target="_blank">{{name}}</a></td>
      <td>{{formatDateTime start_date}}</td>
      <td>{{location}}</td>
      <td>{{Topic.name}}</td>
      <td>{{calculateDeadline start_date}} day</td>
      <td>
        <form action="/addToFollowList" method="post">
          <input type="hidden" name="conference_id" value="{{id}}">
          <input type="hidden" name="user_id" value="{{req.query.id}}">
          <button type="submit" class="btn btn-primary">Add</button>
      </form>

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
 </div>

