<!-- user.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/path/to/your/css/styles.css">
</head>
<body>
    <h1>User Profile</h1>
    <div>
        <h2>{{user.fullname}}</h2>
        <p>Email: {{user.email}}</p>
    </div>
    <div>
        <h2>Follow List</h2>
        <table id="conferenceTable" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Location</th>
                    <th>Topic</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>
                {{#each FollowLists}}
                        <tr>
                            <td><a href="{{url}}" target="_blank">{{Conference.name}}</a></td>
                            <td>{{formatDateTime Conference.start_date}}</td>
                            <td>{{Conference.location}}</td>
                            <td>{{Topic.name}}</td>
                            <td>{{calculateDeadline Conference.start_date}} days</td>
                        </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
